body {
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100vw;
}
#game-overlay {
    position: absolute;
}
#game-overlay-wrapper {
    margin: 0;
    position: absolute;
    height: 43vh;
    width: 30vw;
    background-color: rgba(255,255,255,0.5);
    border-radius: 2em;
    display: inline-flex;
}
.game-hud-element {
    position:relative;
    left: 2vw;  
}
#fire-button-wrapper {
    position:relative;
    top: 2vh;
    left: 2vw;
}
.game-button {
    width: 80%;
    height: 4vw;
    border-radius: 1em;
    border-color: rgba(0,0,0,0.5); 
    font-size: 150%;
}
.game-button:active {
    background-color: rgb(128,128,128);
    color: white;
}
#last-projectile-distance-wrapper {
    position:absolute;
    top: 80vh;
    left: 0;
}
.game-hud-column {
}